* {
    margin: 0%;
    padding: 0.5%;
    box-sizing: border-box;
    background-color: #fbf7f5 ;
}

body {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5%;
    width: 100%;

}

#LogoHeader {
    width: 20%;
    height: 6%;
}

main {
  flex: 1;
}

footer {
  min-height: 100px;
  height: 5%;
  width: 100%;
}


@media (max-width: 800px) {
    #LogoHeader {
        width: 80%;
        height: 8%;
    }
}

.container {
  display: inline-block;
  cursor: pointer;

}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}


.top_banner {
  position: relative;
  text-align: center;
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(253, 255, 236);
  background-color:transparent;
  font-size: 150%;
}
#imageBanner {
  width: 100%;
  height: auto;
}

.row {
  display: flex;
}

.column {
  flex: 45%;
  padding: 5px;
}

footer {
  padding: 20px;
  text-align: center;
}